* {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-outfit);
    color: var(--dark-charcoal);
}

h1, h2, h3 {
    font-family: var(--font-young);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h2 {
    color: var(--nutmeg);
}

ul, ol {
    list-style-position: inside;
}

span {
    padding-left: 0.8rem;
}

.attribution {
    text-align: center;
    font-size: 1.2rem;
    color: var(--dark-charcoal);
}

.attribution a {
    text-decoration: none;
    color: var(--dark-raspberry);
}