@import 'partials/intro-recipe.css';
@import 'partials/ingredients-recipe.css';
@import 'partials/instructions-recipe.css';
@import 'partials/nutrition-recipe.css';
@import '/assets/css/global/elements.css';
@import '/assets/css/global/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.content-container {
    margin: 2rem auto;
    max-width: 70rem;    
    background-color: var(--white);
    padding: 4rem;
    border-radius: 3rem;
}

body {
    background-color: var(--eggshell);
    color: var(--dark-charcoal);
}

.footer-mobile {
    display: none;
}

@media (max-width: 767px) {
    .content-container {
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
        padding: 0;
    }

    .footer-desktop {
        display: none;
    }
    .footer-mobile {
        width: 80%;
        padding: 0 1rem;
        display: block;
        margin-top: 2rem;
    }
}