.ingredients-recipe {
    padding: 3rem 0;
    border-bottom: 1px solid var(--light-grey);
}

.ingredients-recipe ul {
    padding: 2rem;
}

.ingredients-recipe ul li {
    padding: 1rem;
}

@media (max-width: 767px) {
    .ingredients-recipe h2, .ingredients-recipe ul {
        padding: 2rem;
    }    
}