.instructions-recipe {
    padding: 2rem 0;
    border-bottom: 1px solid var(--light-grey);
}

.instructions-recipe ol {
    padding: 2rem 0 0 0;
    /* counter-reset: li;   */
}

  /* .instructions-recipe li::before {
    content: counter(li);
    color: var(--nutmeg);
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
}

.instructions-recipe li {
    counter-increment: li;
}  */

.instructions-recipe li {
    padding: 1rem;
}


