.nutrition-recipe {
    padding: 2rem 0;
}

.nutrition-content p {
    padding: 2rem 0;
}

.nutrition-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-item {
    margin: 0 auto;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid var(--light-grey);
    padding: 1rem 0;
    text-indent: 10%;
}

.second {
    color: var(--nutmeg);
    font-weight: bold;
}

@media (max-width: 767px) {
    .nutrition-content, .nutrition-recipe h2, .nutrition-grid {
        padding: 1rem;
    }    
}